Need an ABOUT page
  - The company name
  - What do we sell
  - Name (Raj and I)
  - Other?

Main Page
  - Similar to NIKE page (multiple rows and columns)
  - Need 10 items (at least)

Item
  - Image
  - Price
  - Name
  - INCLUDE JAVASCRIPT HERE (Image grows bigger when mouse is on the item)

Detailed Description - Each item page (more description)
  - More details about the product (look at other web to see format)
  - "Buy" button (when clicked, more stuff appear)

Buy page (acces when "Buy" button is clicked)
  - Product name
  - Quantity
  - First and Last name
  - Phone Number
  - Shipping Address
  - Shipping Mehthod (standard, overnight, etc)
  - Credit Card Info
  - INCLUDE JAVASCRIP HERE (make sure every line is filled)
  - "Complete order" button

* 10 Stylistic Properties
* Track Mouse Movement